html {
  background-color: black;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}
table {
  width: 80%;
  background-color: rgba(10, 10, 10, 0.8);
  padding: 4px;
  margin: 2%;
 
}
th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid red;
  
}
th {
  padding-top: 4px;
}
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.galeria img {
  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  cursor: pointer;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
/* Estilos para ocultar el contenido del sitio web */
.oculto {
  display: none;
}
/* Estilos para el header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
}
/* Estilos para el logo */
.logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: red;
  width: 200px;
  align-items: center;
}
/* Estilos para el menú de navegación */
nav {
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
nav ul li a:hover {
  background-color: #fff;
  color: #333;
}
.parallax {
  background-image: url('../images/image1.jpg'); /* imagen de fondo */
  height: 100vh; /* altura total de la sección */
  background-attachment: fixed; /* fija la imagen de fondo */
  background-position: center; /* posición centrada de la imagen de fondo */
  background-repeat: no-repeat; /* no repetir la imagen de fondo */
  background-size: cover; /* escalar la imagen para cubrir la sección */
  display: flex; /* utilizar flexbox para centrar los contenidos */
  align-items: center; /* centrar verticalmente los contenidos */
  justify-content: center; /* centrar horizontalmente los contenidos */
  text-align: center; /* centrar el texto dentro de la sección */
  color: #fff; /* color de texto blanco */
}
.parallax1 {
  background-color: red;
  height: 100vh; /* altura total de la sección */
  background-attachment: fixed; /* fija la imagen de fondo */
  background-position: center; /* posición centrada de la imagen de fondo */
  background-repeat: no-repeat; /* no repetir la imagen de fondo */
  background-size: cover; /* escalar la imagen para cubrir la sección */
  display: flex; /* utilizar flexbox para centrar los contenidos */
  align-items: center; /* centrar verticalmente los contenidos */
  justify-content: center; /* centrar horizontalmente los contenidos */
  text-align: center; /* centrar el texto dentro de la sección */
  color: #fff; /* color de texto blanco */
}

.parallax2 {
  background-color: black;
  height: 100vh; /* altura total de la sección */
  background-attachment: fixed; /* fija la imagen de fondo */
  background-position: center; /* posición centrada de la imagen de fondo */
  background-repeat: no-repeat; /* no repetir la imagen de fondo */
  background-size: cover; /* escalar la imagen para cubrir la sección */
  display: flex; /* utilizar flexbox para centrar los contenidos */
  align-items: center; /* centrar verticalmente los contenidos */
  justify-content: center; /* centrar horizontalmente los contenidos */
  text-align: center; /* centrar el texto dentro de la sección */
  color: #fff; /* color de texto blanco */
}
.parallax:nth-child(odd) { /* estilo alternativo para las secciones impares */
  background-image: url('../images/image2.jpg');
}
.box {
  width: 100px;
  height: 100px;
  background-color: none;
  position: relative; /* necesitamos posicionar de forma absoluta los elementos internos */
  animation: mover 2s ease-in-out infinite; /* aplicamos la animación */
}
.box-inner {
  width: 50px;
  height: 50px;
  background-color: none;
  position: absolute; /* posición absoluta para moverlo dentro de la caja */
  top: 25px; /* centrar verticalmente */
  left: 25px; /* centrar horizontalmente */
  animation: girar 1s ease-in-out infinite; /* aplicar la animación */
}
h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  float: left;
  width: 100%;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  float: left;
  width: 100%;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  float: left;
  width: 100%;
}
p {
  font-family: 'Roboto', sans-serif;
  float: left;
  width: 100%;
}
.boton {
	background-color: red;
	color: white;
	padding: 2em;
	border-radius: 35px;
	margin: 2%;
	width: 200px;
	cursor: pointer
}
.boton:hover {
	background-color: white;
	color: red;
	padding: 2em;
	border-radius: 35px;
	margin: 2%;
	width: 200px;
	cursor: pointer
}
.black {
  background-color: black;
}
.red {
  background-color: red
}
@keyframes mover {
  0% {
    left: 0;
  } /* al principio, la caja está en la izquierda */
  50% {
    left: calc(100vw - 100px);
  } /* al 50% de la animación, la caja está a la derecha */
  100% {
    left: 0;
  } /* al final, la caja está en la izquierda otra vez */
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  } /* empezar sin rotación */
  to {
    transform: rotate(360deg);
  } /* rotar 360 grados en sentido horario */
}